/*Adds red border for visualizing element placement*/
/** {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-color: #174950;
}

#launchArea {
    width: 100%;
    height: 30rem;
}

#myName {
    margin-bottom: 3rem;
}

#launchButton {
    height: 5rem;
    width: 5rem;
    background-color: #E60234;
    border-radius: 50%;
    border: #000000 solid 4px;
}

#launchButtonClicked {
    height: 10rem;
    width: 20rem;
    background-color: #008080;
    border-radius: 10%;
    border: #E60234 solid 2px;
    display: none;
}

.navItemsLaunch {
    display:none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9B0F32;
    font-size: 1.2rem;
}

#launchButtonArea {
    height: 12rem;
}

#mobileNavigator {

}

.launchItems {
    width: 100%;
    color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9B0F32;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.biggerH1 {
    font-size: 2.5rem;
}

.biggerH2 {
    font-size: 1.75rem;
}